#mainSection{
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-top: 10%;
	width: 50%;
	text-align: center;
	border-radius: 9px;
	background-color: gray;
}

}
header{
		background-color: gray;
}

body{
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	background-size: 100%;
	background-image: url("images/fundo.jpg");
	background-repeat: no-repeat;

}

form{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

div{
	margin: 0 auto;
	padding: 2px;
	text-align: center;
}

footer{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}